.authscreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: f7f7f7;
  flex-direction: column;
}

.submitButton {
  background-color: #1A3864 !important;
  border-radius: 8px !important;
  color: #ffffff !important;
  /* text-transform: capitalize !important; */
  font-weight: 600 !important;
  width: 100% !important;
}

.signupButton {
  border: 1px solid #545fc7 !important;
  border-radius: 8px !important;
  color: #545fc7 !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  width: 400px !important;
}

.contentText {
  color: #4b5563 !important;
  font-size: 16px !important;
  font-size: 16px !important;
  font-weight: normal !important;
  line-height: 24px !important;
  text-align: center !important;
  letter-spacing: 0px !important;
}
.submitButton:hover {
  background-color: #2f5183 !important; /* Darker shade for hover effect */
}
.primaryHeader {
  font-weight: 700 !important;
  font-size: 24px !important;
  color: #111827 !important;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fieldContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.otpFieldConteiner {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
}
.paswordIcon {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.formContainer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.textField {
  width: 100% !important;
  height: 42px !important;
}
.required {
  color: red;
  margin-left: 4px;
}
.formFieldHeader {
  font-weight: 500 !important;
  color: #374151 !important;
  /* font-style: ; */
}
.forgotPassword {
  display: flex;

  row-gap: 8px;
  justify-content: end;
  padding: 0px !important;
}
.fieldConatiner {
  margin-bottom: 16px;
}

.fieldHeader {
  margin-bottom: 8px !important;
}

.panelConatent {
  font-family: "Roboto Bold", "Roboto", sans-serif !important;
  font-weight: 700 !important;
  color: #333333 !important;
  font-size: 22px !important;
  margin-bottom: 16px !important;
  display: flex;
}

.loginBtn {
  width: 100% !important;
  height: 36px !important;
  background-color: #0a5b99 !important;
}
.forgotPassword {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-bottom: 16px;
  color: #545fc7 !important;
  font-family: "Roboto Bold", "Roboto", sans-serif !important;
}
.loginBtn:hover {
  background-color: #0a6bb6 !important;
}
.error {
  color: red;
  margin-top: 4px;
}

.cardContainer {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 24px 24px;
  min-width: 448px;
  max-width: 448px;
  max-height: 80vh;
  overflow-y: auto;
}

.logo {
  width: 195px;
  height: 50px;
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: column;
  gap: 16px;
}
.content {
  color: #5f6368;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 16px;
}
.copyRightText {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 18px;
  text-align: center;
  width: 100%;
}
.backtoLogin {
  display: flex !important;
  align-items: center !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  text-align: center !important;
  justify-content: center !important;
  margin-top: 12px !important;
  cursor: pointer !important;
  color: #4b5563 !important;
}
.resendCode {
  display: flex !important;
  align-items: center !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  color: #545fc7 !important;
  text-align: center !important;
  /* justify-content: center !important; */

  cursor: pointer !important;
}
.pageCntainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .cardContainer {
    min-width: 350px;
    max-width: 350px;
    height: 80vh;
    overflow-y: auto;
  }
  .backtoLogin {
    display: flex;
    flex-direction: column;
  }
  .otpFieldConteiner {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 380px) {
  .cardContainer {
    min-width: 280px;
    max-width: 280px;
  }
}

@media (max-width: 320px) {
  .cardContainer {
    min-width: 200px;
    max-width: 200px;
  }
}

.loginscreencontainer {
  /* background-color: #1a3864 !important; */
  min-height: 100vh !important;
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  width: 100% !important;
}
.roundContainer {
  display: flex !important;
  position: absolute !important;
  width: 70px;
  height: 120px;
  overflow: hidden;
}
.topRoundContainer {
  top: 10% !important;
  right: 0 !important;
}
.bottomRoundContainer {
  bottom: 10% !important;
  left: 0 !important;
}
.halfRound {
  width: 120px !important;
  height: 120px !important;
  border-radius: 50% !important;
}
.topRound {
  background-color: #45bea6 !important;
  margin-right: -50px !important;
  overflow-x: none !important;
}

.bottomRound {
  background-color: #4b78bc !important;
  margin-left: -50px !important;
  overflow-x: none !important;
}
.loginScreenContentContiner {
  position: absolute !important;
  bottom: 40% !important;
  display: flex !important;
  flex-direction: column !important;

  justify-content: center !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}
.loginScreenContent {
  font-size: 28px !important;
  font-family: "Poppins" !important;
  color: white !important;
  font-weight: 700 !important;
}
.loginScreenSecondaryContent{
  font-size: 16px !important;
  font-family: "Poppins" !important;
  color: white !important;
}

.centerContainer {
}

.docImageContainer {
  width: 100px !important;
  display: flex !important;
  align-items: center !important;
}
.docImage {
  /* width: 100% !important; */
  

 height: 450px !important;
  /* margin-top: -50px !important; */
}

@media (max-width: 1100px) {
  .docImage {
    margin-top: -100px !important;
  }
  .roundContainer {
    display: flex !important;
    position: absolute !important;
    width: 40px;
    height: 80px;
    overflow: hidden;
  }

  .halfRound {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important;
  }
}

@media (max-width: 900px) {
  .loginscreencontainer{
    display: none !important;
  }
}
.submitBtn{
  color: white !important;
  background-color: #1b3764 !important;
  text-transform: capitalize !important;
}
.fielContinaer{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  /* margin-top: 4px !important; */
 /* height: 40px !important; */
}
.textFieldContainer{
  margin-bottom: 12;
}

.field{
  width:350px !important;
  height: 40px !important;
}
.registrtyContainer{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 100vh !important;
}
.logoContainer{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

}
.logo{
  width: 165PX !important;
  height: 55px !important;
}
.error{
  color: rgb(243, 84, 84) !important;
  font-size: 14px !important;
}

.backBtnContainer{
  background-color:#1a3864 !important ;
  width: 40px;
  height: 40px;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.accountSuccessContainer{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
margin-top: 16px !important;
}
.authHomeConatiner{
  display: flex !important;
  width: 100% !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
}